<body>
    <div class="registration-form">
        <form>
            <div class="upper mb-3">
                <h1>
                    Editar
                </h1>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="nombre" placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="direccion" placeholder="Dirección" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="nit" placeholder="NIT" required>
            </div>
            <div class="form-group">
                <input type="number" class="form-control item" id="telefono" placeholder="Telefono" required>
            </div>
            <div class="form-group mb-1">
                <button type="button" class="btn btn-block return me-3" routerLinkActive="active" [routerLink]="['/proveedor']">Volver</button>

                <button type="button" class="btn btn-block register-prod me-3">Agregar</button>
            </div>
        </form>

    </div>
</body>