<body>
    <div class="registration-form">
        <form [formGroup]="formularioGrupo">
            <div class="upper mb-3">
                <h1 class="text-center">
                    Añadir
                </h1>
            </div>
            <input type="text" class="form-control item" placeholder="Nombre" formControlName="nombre">
            <small *ngIf=" formularioGrupo.controls['nombre'].invalid && formularioGrupo.controls['nombre'].touched">Este campo es obligatorio</small>

            <div class="form-group mb-1">
                <button type="button" class="btn btn-block return me-3" routerLinkActive="active" [routerLink]="['/categorias']">Volver</button>

                <button type="button" class="btn btn-block register-prod me-3" (click)="agregarCategoria()" [disabled]="formularioGrupo.invalid">Agregar</button>
            </div>
        </form>

    </div>
</body>