<body>
    <div class="registration-form">
        <form>
            <div class="form-group ">
                <input type="text" class="form-control item" id="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="detalle" placeholder="Detalle">
            </div>
            <div class="form-group mb-1">
                <button type="button" class="btn btn-block return me-3" routerLinkActive="active" [routerLink]="['/categorias']">Volver</button>

                <button type="button" class="btn btn-block register-prod me-3">Agregar</button>
            </div>
        </form>

    </div>
</body>