body {
    background: linear-gradient(to right, #b2927e, #98a337);
    height: 100%;
    width: 100%;
}

.container {
    padding: 50px 0;
    min-height: 100vh;
}

.cards {
    display: inline;
}

.carousel-inner img {
    height: 500px;
    width: 4000px;
}