body {
    background: linear-gradient(to right, #b2927e, #98a337);
    height: 100%;
    width: 100%;
}

.container {
    min-height: 100vh;
}

.container table {
    background: white;
    ;
}

.upper-part h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.upper-part .search {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
    max-width: 400px;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}

.upper-part .agregar-usuario {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    padding: 7px 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3CB240;
    border: none;
    color: white;
    text-align: center;
}

.actions {
    text-align: center;
}