<div class="container mt-5">
    <div class="upper-part mb-3">
        <h1>Proveedores</h1>

        <div class="form-group">
            <input type="input" class="form-control search" id="buscar" name="filtroBusqueda" placeholder="Buscar" [(ngModel)]="filtroBusqueda">

            <button type="button" class="btn btn-block agregar-usuario me-3" routerLinkActive="active" [routerLink]="['/agregarProveedor']">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped mr-2">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col" class="text-center">Nombre</th>
                            <th scope="col" class="text-center">Dirección</th>
                            <th scope="col" class="text-center">NIT</th>
                            <th scope="col" class="text-center">Telefono</th>
                            <th scope="col" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let proveedor of proveedores | filtro:filtroBusqueda">
                            <td class="text-center"> {{ proveedor.nombre }} </td>
                            <td class="text-center"> {{ proveedor.direccion }} </td>
                            <td class="text-center"> {{ proveedor.nit }} </td>
                            <td class="text-center"> {{ proveedor.telefono }} </td>
                            <td class="actions">
                                <button type="button" class="btn btn-block editar-producto me-3" routerLinkActive="active" [routerLink]="['/editarProveedor', proveedor.id]">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-block eliminar-producto me-3" (click)="eliminarProveedor(proveedor.id)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>