<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Register</h5>
                        <form [formGroup]="formularioGrupo" class="form-signin">

                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                                <small *ngIf=" formularioGrupo.controls['nombre'].invalid && formularioGrupo.controls['nombre'].touched">Este campo es obligatorio</small>
                                <label for="nombre">Nombre</label>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
                                <small *ngIf=" formularioGrupo.controls['nombre'].invalid && formularioGrupo.controls['nombre'].touched">Este campo es obligatorio</small>
                                <label for="apellido">Apellido</label>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="correo electronico" formControlName="email">
                                <small *ngIf=" formularioGrupo.controls['nombre'].invalid && formularioGrupo.controls['nombre'].touched">Este campo es obligatorio</small>
                                <label for="correo electronico">Correo electronico</label>
                            </div>

                            <hr>

                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
                                <small *ngIf=" formularioGrupo.controls['direccion'].invalid && formularioGrupo.controls['direccion'].touched">Este campo es obligatorio</small>
                                <label for="contraseña">Contraseña</label>
                            </div>

                            <button type="button" class="btn btn-lg btn-block text-uppercase mb-3" (click)="registrarUsuario()" [disabled]="formularioGrupo.invalid">Registrar</button>
                            <a class="d-block text-center mt-2 small" routerLinkActive="active" [routerLink]="['/login']">¿Ya te encuentras registrado? Inicia sesión</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>