<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Register</h5>
                        <form class="form-signin">

                            <div class="mb-3">
                                <input type="text" id="inputNombre" class="form-control" placeholder="Nombre" required autofocus>
                                <label for="inputUserame">Nombre</label>
                            </div>

                            <div class="mb-3">
                                <input type="text" id="inputApellido" class="form-control" placeholder="Apellido" required autofocus>
                                <label for="inputUserame">Apellido</label>
                            </div>

                            <div class="mb-3">
                                <input type="email" id="inputCorreo" class="form-control" placeholder="Correo electronico" required>
                                <label for="inputEmail">Correo electronico</label>
                            </div>

                            <hr>

                            <div class="mb-3">
                                <input type="password" id="inputContraseña" class="form-control" placeholder="Contraseña" required>
                                <label for="inputPassword">Contraseña</label>
                            </div>

                            <button class="btn btn-lg btn-block text-uppercase mb-3" type="submit">Registrar</button>
                            <a class="d-block text-center mt-2 small" routerLinkActive="active" [routerLink]="['/login']">¿Ya te encuentras registrado? Inicia sesión</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>