body {
    background: linear-gradient(to right, #b2927e, #98a337);
}

.container {
    min-height: 100vh;
}

.container table {
    background: white;
}

.upper-part h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.upper-part .search {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
    max-width: 400px;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}

.actions {
    text-align: center;
}