<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped mr-2">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Correo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Rafael</td>
                        <td>Chacon</td>
                        <td>rafael@gmail.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>