<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Bienvenido</h3>
                            <form [formGroup]="formularioGrupo">
                                <div class="mb-3">
                                    <label for="inputEmail">Correo electronico</label>
                                    <input type="email" class="form-control" placeholder="Correo electronico" formControlName="email" [class.is-invalid]="emailNovalido">
                                    <small *ngIf="emailNovalido" class="text-danger">Este campo es obligatorio</small>
                                </div>

                                <div class="mb-3">
                                    <label for="inputPassword">Contraseña</label>
                                    <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" [class.is-invalid]="passwordNovalido">
                                    <small *ngIf="passwordNovalido" class="text-danger">Este campo es obligatorio</small>
                                </div>


                                <button class="btn btn-lg btn-block btn-login  text-uppercase font-weight-bold mb-2" style="background-color: #795d4c; color: white;" type="button" (click)="ingresar()">ingresar</button>
                                <div class="text-center">
                                    <a class="small" style="color: #795d4c;" routerLinkActive="active" [routerLink]="['/registro']">¿Aún no tienes cuenta? registrate</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>