<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                            Inicio
                        </span>
                </a>

            </li>
            <li class="has-subnav">
                <a routerLinkActive="active" [routerLink]="['usuarios']">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                            Usuarios
                        </span>
                </a>

            </li>
            <li class="has-subnav">
                <a routerLinkActive="active" [routerLink]="['productos']">
                    <i class="fa fa-shopping-basket fa-2x"></i>
                    <span class="nav-text">
                            Productos
                        </span>
                </a>

            </li>
            <li class="has-subnav">
                <a routerLinkActive="active" [routerLink]="['categorias']">
                    <i class="fa fa-tags fa-2x"></i>
                    <span class="nav-text">
                            Categorias
                        </span>
                </a>

            </li>
            <li>
                <a routerLinkActive="active" [routerLink]="['proveedor']">
                    <i class="fa fa-truck fa-2x"></i>
                    <span class="nav-text">
                            Proveedores
                        </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-font fa-2x"></i>
                    <span class="nav-text">
                           Ventas
                        </span>
                </a>
            </li>

        </ul>

        <ul class="logout">
            <li>
                <a routerLinkActive="active" [routerLink]="['/login']">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                            Logout
                        </span>
                </a>
            </li>
        </ul>
    </nav>
</body>