<body>
    <div class="registration-form">
        <form [formGroup]="formularioGrupo">
            <div class="upper mb-3">
                <h1>
                    Añadir
                </h1>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" placeholder="Nombre" formControlName="nombre">
                <small *ngIf=" formularioGrupo.controls['nombre'].invalid && formularioGrupo.controls['nombre'].touched">Este campo es obligatorio</small>
            </div>
            <div class="form-group">
                <input type="input" class="form-control item" placeholder="Dirección" formControlName="direccion">
                <small *ngIf=" formularioGrupo.controls['direccion'].invalid && formularioGrupo.controls['direccion'].touched">Este campo es obligatorio</small>
            </div>
            <div class="form-group">
                <input type="number" class="form-control item" placeholder="NIT" formControlName="nit">
                <small *ngIf=" formularioGrupo.controls['nit'].invalid && formularioGrupo.controls['nit'].touched">Este campo es obligatorio</small>
            </div>
            <div class="form-group">
                <input type="number" class="form-control item" placeholder="Telefono" formControlName="telefono">
                <small *ngIf=" formularioGrupo.controls['telefono'].invalid && formularioGrupo.controls['telefono'].touched">Este campo es obligatorio</small>
            </div>
            <div class="form-group mb-1">
                <button type="button" class="btn btn-block return me-3" routerLinkActive="active" [routerLink]="['/proveedor']">Volver</button>

                <button type="button" class="btn btn-block register-prod me-3" (click)="guardarProveedor()" [disabled]="formularioGrupo.invalid">Agregar</button>
            </div>
        </form>

    </div>
</body>