<body>
    <div class="registration-form">
        <form [formGroup]="formularioGrupo">
            <div class="upper mb-3">
                <h1>
                    Añadir
                </h1>
            </div>
            <div class="form-group mb-4">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control item" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNovalido">
                <small *ngIf="nombreNovalido" class="text-danger">Este campo es obligatorio</small>
            </div>
            <div class="form-group mb-4">
                <label class="form-label">Detalle</label>
                <input type="text" class="form-control item" placeholder="Detalle" formControlName="detalle" [class.is-invalid]="detalleNovalido">
                <small *ngIf="detalleNovalido" class="text-danger">Este campo es obligatorio</small>
            </div>
            <div class="form-group mb-4">
                <label class="form-label">Precio</label>
                <input type="text" class="form-control item" placeholder="Precio" formControlName="precio" [class.is-invalid]="precioNovalido">
                <small *ngIf="precioNovalido" class="text-danger">Este campo es obligatorio</small>
            </div>
            <div class="form-group mb-4">
                <label class="form-label">Cantidad</label>
                <input type="number" class="form-control item" placeholder="Cantidad" formControlName="cantidad" [class.is-invalid]="cantidadNovalido">
                <small *ngIf="cantidadNovalido" class="text-danger">Este campo es obligatorio</small>
            </div>
            <div class="form-group mb-4">
                <label class="form-label">Categoria</label>
                <select class="form-select item mb-4" formControlName="categoria">
                    <option value="">Seleccione una categoria</option>
                    <option *ngFor="let categoria of categorias" [value]="categoria.id"> {{ categoria.nombre }} </option>
            </select>

            </div>

            <div class="form-group-mb4">
                <label class="form-label">Proveedor</label>
                <select class="form-select item mb-4" formControlName="proveedor">
                    <option value=""> Seleccione un proveedor</option>
                    <option *ngFor="let proveedor of proveedores" [value]="proveedor.id" >{{proveedor.nombre}}</option>
                </select>
            </div>


            <div class="form-group mb-1">
                <button type="button" class="btn btn-block return me-3" routerLinkActive="active" [routerLink]="['/productos']">Volver</button>

                <button type="button" class="btn btn-block register-prod me-3" (click)="guardarProducto()" [disabled]="formularioGrupo.invalid">Agregar</button>
            </div>
        </form>

    </div>
</body>