<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped mr-2">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Nombre</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bebidas</td>
                        <td>Bebida azucara gaseosa</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>