<div class="container mt-5">

    <div class="upper-part mb-3">
        <h1>Categorias</h1>

        <div class="form-group">
            <input type="input" class="form-control search" id="buscar" placeholder="Buscar">

            <button type="button" class="btn btn-block agregar-usuario me-3" routerLinkActive="active" [routerLink]="['/agregarCategoria']">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped mr-2">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">Nombre</th>
                            <th scope="col">Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bebidas</td>
                            <td>Bebida azucara gaseosa</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>